body, h1, h2, h3, p, ul, ol, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #90ac75;
    color: white;
    padding: 10px 20px;
}

header .logo img {
    max-height: 40px;
}

.hidden {
    display: none;
}

.modal-content {
    width: 400px;
    height: 20%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 50%;
    background-color: #cdd8c3;
    border: 1px solid rgba(144, 172, 117, 0.76);
}
#filter-title{
    width: 100%;
    height: 40%;
    border: 1px solid rgba(144, 172, 117, 0.76);
    background-color: rgba(144, 172, 117, 0.52);
    border-radius: 10px;

}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

#save-filter, #cancel-filter{
    background-color: rgba(144, 172, 117, 0.52);
    border: 1px solid rgba(144, 172, 117, 0.76);
    border-radius: 10px;
    color: #325019;
    width: 25%;
    height: 25px;
}

.favorites {
    position: absolute;
    top: 48px;
    right: 20px;
    padding: 20px;
    width: 250px;
    z-index: 1000;
    background-color: #cdd8c3;
    border: 2px solid rgba(144, 172, 117, 0.76);
    border-radius: 10px;
    color: #325019;
    display: none;
}

#favorites-list button{
    width: 100%;
    background-color: rgba(144, 172, 117, 0.52);
    border: 1px solid rgba(144, 172, 117, 0.76);
    border-radius: 10px;
    color: #325019;
}

.favorite-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.delete {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.delete:hover {
    color: red; /* Zmiana koloru na hover */
}

h2{
    text-align: center;
}

header .theme-controls button {
    background-color: white;
    color: #90ac75;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.fas.fa-heart{
    color:white;

}

header .theme-controls button:hover {
    background-color: #325019;
    color: rgb(255, 255, 255);
}



i {
    font-size: 24px;
    color: #325019;
}


.icon-and-text {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navigation button {
    background-color: #ffffff;
    color: #90ac75;
    border-style: solid;
    border-color: #90ac75;
    font-weight: bold;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.navigation button:hover {
    background-color: #90ac75;
    color: white;
}

.month-year-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.month-year-controls span {
    margin: 0 10px;
}

.month-year-controls button {
    background-color: #90ac75;
    border-radius: 20%;
    border:none;
    color: white;
    cursor: pointer;
    width: 30px;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 20px;
    gap: 20px;
    height: 30vh;
}

.calendar {
    flex: 2;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 70vh;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

.calendar th {
    background-color: #90ac75;
    color: white;
}

.calendar .highlight {
    background-color: #ffeeba;
}

.filters {
    flex: 1;
    background-color: white;
    padding: 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    height: 70vh;
}

.filters label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.filters input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.filters button {
    width: 100%;
    background-color: #90ac75;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 18.5px;
    margin-right: 10px;
    display: inline-block;
}

.filters button:hover {
    background-color: #90ac75;
}

.manage-button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.legend {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: right;
}


.statistics {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #e9ecef;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    width: 100%;
}

@media (min-width: 768px) {
    .container {

    }

    .navigation {
        gap: 30px;
    }

    main {
        flex-direction: row;
    }

    .filters {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    main {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    header{
       flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .theme-controls{
        display: flex;
        gap: 15px;
        flex-direction: column;
        width: 70%;
    }

}